
        <footer class="page-footer" style="background-color:#1d5770;">
          <div class="container " style="background-color:#1d5770;">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">J-BLOGS</h5>
                <p class="white-text text-lighten-4">Join Our Community:<br>
We invite you to become a part of our thriving community. Feel free to explore our articles, leave comments, and share your thoughts with fellow readers. Don't forget to subscribe to our newsletter to stay updated on the latest content across all our categories.</p>
              </div>

            </div>
          </div>
          <div class="footer-copyright white-text">
            <div class="container text-center">
            Powered by - <a href="https://instagram.com/i_m_akram_?igshid=MzNlNGNkZWQ4Mg== " style="color:white;">J-Tech Software Development Company</a>

            </div>
          </div>
        </footer>